    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Roboto:ital,wght@0,400;1,900&display=swap');
    body{
        font-family: 'Lato','Roboto', sans-serif;;
    }
    *{margin: 0; padding: 0; box-sizing: border-box;}
  
    .mainLogin{
        width: 100vw;
    }
    .textoPrimario{
        color: #b4280f;
    }
    .bg-primario{
        background: #b4280f;
        color: #fff;
    }
    .bg-secundario{
        background: #ea7900;
        color: #fff; 
    }
    .bg-amarillo{
        background: #ffcc00;
    }
    .textoAmarillo{
        color: #ffcc00;
    }
   
    .contenedor{
        width: 90%;
        margin:  0 auto;
    }
    .bg-gris{
        background: rgb(236, 236, 236);
    }  
    .cuerpo{
        margin-bottom: 100px;
    }
    /*
    ***************************************estilos para el menu**************************
    */
  
    .menu nav{
        width: 100%;
    }
    .menu nav .logo{
        color: lightgray;
        font-size: 26px;
    }
    .menu nav .busqueda form{
        border-radius: 10px;
    }
    .menu nav .busqueda,
    .menu nav .busqueda form {
        width:100%;
    }
    .menu nav .busqueda form input.form-control:focus{
        outline:none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
    .menu nav .busqueda form button,.menu nav .busqueda form input{
        border: none;
        background: #fff;
        color: #b4280f;
    }
    .menu nav .busqueda form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: #b4280f;
    }
    /*perfil*/
    .menu nav .logobusqueda{
        width: 80%;
    }
    .menu nav .cuentacarrito{
        width: 20%;
    }
    
    .menu nav .cuentacarrito div a:hover{
        cursor: pointer;
    }
    .menu nav .cuentacarrito div a  img{
        width: 35px;
        height: 35px;
        border-radius: 100%;
    }

    /*estilos para el menu fijo que solo aparece en movil*/
    .menufijomov div{
        text-align: center;
    }
    
    .menufijomov div a {
        color: rgb(73, 73, 73);
    }
    .menufijomov div a .fas{
        font-size: 18px;
        padding-top: 5px;
    }
   

    /*
    ***************************************estilos para el login y el registro**************************
    */
    /* ------------------- sección para el texto lado izquierdo ------------------------*/
    .mainLogin  .text{
        background: url('../img/hamburguesa.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        color: #fff;
        padding-top: 55px;
        padding-right: 35px;
        width: 45%;

    }
    
    .mainLogin .text .titulo h3{
        font-size: 70px;
        text-align: end;
        font-weight: bolder;    
        letter-spacing: 1px;
        
    }
    .mainLogin .text .titulo h3:last-child{
        font-weight: normal;
    }
    /* ------------------- fin sección para el texto lado izquierdo ------------------------*/
    .mainLogin .contForm{
        width: 55%;
        height: 100vh;
    }
    .mainLogin .contForm .card{
        width: 60%;
        margin: 0 auto;
    }
  .mainLogin .text .atras a{
    color: #fff;
    text-decoration: none;

  }
  .mainLogin .contForm .card{
    -webkit-box-shadow: 0px 6px 7px 1px rgba(204,204,204,1);
    -moz-box-shadow: 0px 6px 7px 1px rgba(204,204,204,1);
    box-shadow: 0px 6px 7px 1px rgba(204,204,204,1);
  }
  .mainLogin .contForm .card form div input{
      background: rgb(231, 231, 231);
      border: none;
  }
  .mainLogin .contForm .card form button:hover{
    color: #fff;
    background:  #b4280f;

  }
  
  
.mainLogin  .contForm .card .botones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mainLogin  .contForm .card .botones a{
    display: inline-block;
    padding: 5px 0px;
    border-radius: 5px;
    text-align: center;
    width: 40%;
    background: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 3px 5px 0px rgba(204,204,204,1);
}
.mainLogin  .contForm .card .botones .fb{
    color: #3b5998;
}
.mainLogin  .contForm .card h4{
    font-size: 40px;
    font-weight: normal;
}
.mainLogin  .contForm .card .botones .fb:hover{
    background: #3b5998;
    color: #fff;
}
.mainLogin  .contForm .card .botones .google:hover{
    color: #fff;
    background:#4285F4;
}
.mainLogin  .contForm .card .botones .google img{
    width: 7%;
}
.mainLogin  .contForm .card .botones a:last-child{
    margin-left: 5px;
    
}
.mainLogin  .contForm .registro{
    text-align: center;

}

.mainLogin  .contForm .registro a{
    color: #cb4730;
    font-size: 18px;
    text-decoration: none;
}

.mainLogin  .contForm .registro a:hover{
    color: #b4280f;
    text-decoration: underline;
}









  
  /*
    ***************************************fin estilos para el login y el registro**************************
    */




    /*
    ***************************************estilos del banner de productos**************************
    */
  
    .populares .tituloseccion hr{
        width: 25%;
    }
  

    .contenedorSlideProductos{
 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contenedorSlideProductos ul li{
        list-style: none;
    }
    .contenedorSlideProductos ul li .card{
        width: 190px;
        border-radius: 10px;
        -webkit-box-shadow: -1px 5px 10px -4px rgba(125,125,125,1);
        -moz-box-shadow: -1px 5px 10px -4px rgba(125,125,125,1);
        box-shadow: -1px 5px 10px -4px rgba(125,125,125,1);
    }
    
    .contenedorSlideProductos ul li .card .card-body{
        padding: 15px 20px 20px 20px;
    }
    .contenedorSlideProductos ul li .card .card-body .card-title{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        margin:0;    }
    .calificacion {
        margin: 0 auto;
        color: #ea7900
    }
    .contenedorSlideProductos ul li .card .card-body a{
        padding:2px;
    }
     /*
    ***************************************fin estilos del banner de productos**************************
    */
@media screen and (max-width: 940px) and (min-width:728px){
    .mainLogin  .contForm .card .registrame{
        font-size: 28px;
        
    }
    .menu nav .logo{
        font-size: 25px;
    }
   
}
  @media screen and (max-width: 940px){
    .mainLogin  .text{
        width: 100%;
        background: #b4280f;
        color: #fff;
        padding-top: 0px;
        padding-right: 0px;
    }
    .mainLogin .contForm{
        width: 100%;
        
    }
    .mainLogin .contForm .card form div input{
      text-align: center;
    }
  
    .mainLogin  .contForm .card .botones {
    flex-direction: column;
    }
    .mainLogin  .contForm .card .botones a{
        width: 100%;
    }
    .mainLogin  .contForm .card .botones a:last-child{
        margin-top: 5px;
        margin-left: 0px;
    }

 
    .mainLogin .text .titulo h3{
        font-size: 20px;
        text-align: center;
        font-weight: bolder;    
        letter-spacing: 1px;
        
  }
     /*estrilos para la adaptacion del menu de busqueda*/
     .menu nav .logobusqueda{
        width: 100%;
    }
    
    .menu nav .logo{
        text-align: center;
    }


    
    .contenedorSlideProductos{
        width: 100%;
    }
}


@media screen and (max-width:728px){
  
    .mainLogin .text .titulo{
        padding: 10px;
    }
    .mainLogin  .contForm .card h4{
        font-size: 25px;
    }
    
  .mainLogin .contForm .card{
        box-shadow: none;
        width: 100%;
        border: none;
    }
    .menu nav .cuentacarrito div a  img{
        width: 32px;
        height: 32px;
    }

 
   
}
